.Title {
  float: left;
  font: 2.133rem "Stuart", "Geogia", "serif";
  line-height: 1.33;
}

.QuestionButton {
  float: right;
  color: white;
  background-color: #426c90;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  border-radius: 3px;
  border-color: #426c90;
  cursor:pointer;
}

.NumQuest {
  float: left;
}

.SortBy {
  float: right;
}

.QModal {
  /* position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow-y: auto; */
  position: absolute;
  width: 90%;
  margin: auto;
  z-index: 500;
  background-color: white;
  height: auto;
  max-height: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 5%;
  top: 15%;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.Modal {
  position: absolute;
  width: 90%;
  margin: auto;
  z-index: 500;
  background-color: white;
  height: auto;
  max-height: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 5%;
  top: 15%;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.ModalBackground {
  z-index: 500;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
}

.PostAnswer {
  float: left;
  font-size: 25px;
  margin-top: 0px;
  cursor:pointer;
}

.PostAnswerButton {
  float: left;
  color: white;
  background-color: #426c90;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 700;
  border-radius: 3px;
  border-color: #426c90;
}

.CloseButton {
  float: right;
  margin-top: -10px;
  margin-right: -10px;
  cursor:pointer;
  color: #fff;
  border-radius: 30px;
  background: black;
  font-size: 25px;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}



.User {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  font-weight: 700;
  float: left;
  margin: 3px 5px 5px 0px;
}

.Date {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: small;
  float: left;
  text-align: center;
  margin: 5px;
}

.QuestionBlock {
  padding: 25px;
  border-top:    1px solid black;
  margin: 10px 5px 5px 25px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.QuestionString {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 18px;
  font-weight: 700;
  margin: 0 10 10 0;
}

.NumAns {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  font-weight: 700;
  float: right;
  margin: 5px 20px;
}

.AnsLength {
  float: right;
  margin-top: 0px;
}

.AnsButton {
  float: left;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #b8b8b8;
  padding: 5px;
  margin: 20px 20px 20px 0px;
  cursor:pointer;
}

.AnswerString {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  margin: 25px 10px 25px 0px;
}

.AnsUser {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  font-weight: 700;
  margin: 4px 5px 5px 5px;
}

.AnsDate {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: small;
  float: left;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.Helpful {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: small;
  float: left;
  text-align: center;
  margin: 25px 20px 0px 0px;
}

.AnswerLabel {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  font-weight: 700;
}

.AnswerField {
  margin: auto;
  width: 95%;
  vertical-align: top;
  text-align: left;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.NameLabel {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  font-weight: 700;
}

.NameField {
  margin: auto;
  width: 75%;
  vertical-align: top;
  text-align: left;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.LocationLabel {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  font-weight: 700;
}

.LocationField {
  margin: auto;
  width: 75%;
  vertical-align: top;
  text-align: left;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.MailLabel {
  float: left;
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  font-size: 16px;
  font-weight: 700;
}

.MailField {
  margin: auto;
  width: 75%;
  vertical-align: top;
  text-align: left;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.DisclaimerBox {
  border-color: black;
}

.Disclaimer {
  font-size: small;
  float: left;
}